@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Poppins:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.elcontacto
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background: #091923;
}

.elcontacto::before
{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background-image:url("Tech/Zone/STI(3).png")

}